# --- KiCad main project files to ignore ---
*.kicad_prl
*.kicad_pro
fp-info-cache

# --- Temporary and Lock files ---
~*.lck  
\#auto_saved_files\#
_autosave-*
*.tmp

# --- Backups ---
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups

# --- Reports and outputs ---
*.erc
*.drc
*.rpt
*.gbr
*.drl
*.pos
*.pdf






